<!DOCTYPE html>
<html ng-app="lifeHack">
<head lang="en">
    <meta charset="UTF-8">
    <title>Lifehack</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
    <div class="sidebar">
      <section ng-controller="taskController as task">
        <h3>Task History</h3>

        <table>
          <tr ng-repeat="task in task.all">
            <td>{{ task.name }}</td>
          </tr>
        </table>

        <form>
          <fieldset class="form-group">
            <input ng-model="taskName" type="text" ng-minlength="3" ng-maxlength="100" size="40">
            <section class="border">
              <button ng-click="addTask()">Add task</button>
            </section>
          </fieldset>
        </form>
      </section>
    </div>

    <div class="logo">
      <img src="assets/images/life_hack_logo.png" alt="lifehack">
    </div>
    <ui-view></ui-view>

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

    <!-- Firebase Initialization -->
    <script src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyDcsC1JmNGpDVJLgBXFYwiINAYtxp2x4PY",
        authDomain: "lifehack-ead9c.firebaseapp.com",
        databaseURL: "https://lifehack-ead9c.firebaseio.com",
        storageBucket: "",
        messagingSenderId: "563820255197"
      };
      firebase.initializeApp(config);
    </script>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.js"></script>

    <!-- App Dependencies -->
    <script src="/scripts/app.js"></script>
    <script src="/scripts/services/task.js"></script>
    <script src="/scripts/controllers/timerController.js"></script>
    <script src="/scripts/controllers/taskController.js"></script>

</body>
<footer>
  <div class="footer">
    © Copyright 2016, @wonderwoman13
  </div>
</footer>
</html>
